{
  "domain": null,
  "port": null,
  "baseUrl": "/",
  "isSSL": false,
  "siteName": "Sample Site",
  "serviceIds": ["hoge,fuga"],
  "adminAuthHeader": "Authorization",
  "adminAuthHeaderTokenPrefix": "Bearer"
}
